*{
    margin: 0;padding: 0;
    box-sizing: border-box;
}
.container2{
    background-color: #008060;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.container2 .box{
    border: 2px solid white;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
}
.container2 .box input{
    border: 2px solid #008060;
}
.container2 .box button{
    background-color: #008060;
    border: none;
    color: white;
}
.container2 .box input,
.container2 .box button{
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    margin-top: 5px;
}
.navbar2{
    position: absolute;
    top: 0;
    background-color: white;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.navbar2 button{
    border-radius: 15px;
    padding: 15px 20px;
    border: 2px solid #008060;
    background-color: white;
    transition: all 400ms;
}
.navbar2 button:hover{
    background-color: #008060;
    color: white;
}


